---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			🚀 Hey there, I'm Dhruv—your friendly neighborhood coding whiz with a heart of gold and a knack for adventure! 🌟	
		</p>
		<div class="flex justify-center">
			<Image
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
				width=200
			/>
		</div>
		<p>🚀 Hey there, I'm Dhruv—your friendly neighborhood coding whiz with a heart of gold and a knack for adventure! 🌟:</p>
		<ul>
			<li>Coding isn't just a hobby for me; it's my passion, my fuel, my ticket to a state of blissful flow where time seems to stand still. I've dabbled in a variety of languages—from Lua and HTML to CSS and Python—and each one has brought its own unique flavor to my coding journey.</li><br>
			<li>I thrive on challenges, always eager to push my boundaries and learn something new. Whether it's mastering a fresh programming language or diving headfirst into complex projects, I'm a quick learner with an insatiable appetite for growth.</li><br>
			<li>Ah, Lua—the language that kickstarted it all for me! It was Lua that introduced me to the exciting world of game development on Roblox. I poured my heart and soul into crafting virtual worlds and interactive experiences, though, I must admit, some projects fell victim to my old friend, laziness.</li><br>
			<li>But hey, it's not all about coding prowess. People often tell me I've got a kind heart, and I couldn't agree more. I find joy in serving others and believe that life is meant to be lived with a dash of fun and laughter.</li><br>
			<li>So, as I continue to conquer coding challenges and spread kindness wherever I go, one thing's for sure: the world is a brighter, more exciting place with me in it! 🌈✨</li><br>
		</ul>
		<p>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/DhruvBhutani1"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
